const id=12345
var name="harsh"//this is not preffered becuase issue in block scope and functional scope
let state="rajesthan"
city="jaipur"// this is also not preffered
let fav;

console.log(id, name, state, city,fav);
console.table([id, name, state, city,fav]);



"use strict";// treats code as newer versions

// alert(3+3); //we ae using node not browser

//  we should improve code readability

let name="harsh"
let age=19
let isloggedin=false

// number=> 2 to power 53
// bigint
// string==> '' or ""
// boolean==> true or false
// null ==> standalone value
// undefined
// symbol==> unique value


// object

console.log(typeof undefined);
console.log(typeof null);

// null is an object

